.central h1
{
    color: white;
     text-align: center;
     font-family: 'Roboto Mono', monospace;
     background-color: cadetblue;
     border: double cadetblue;
     text-shadow: none;
     font-size: 13pt;
     width: 50%;
     margin-block-start: 3rem;
     margin-left: 2%;
}

.central p
{
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    border: double cadetblue;
    color: white;
    width: 50%;
    margin-left: 2%;
    margin-block-end: 2rem;
}

#me
{
    position: absolute;
	left: 60%;
	top: 78%;
    bottom: 50%;
}
