@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/gumball');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.logo
{
   margin-left: 615px;
   padding-top: 12px;
}

/*Trabalhando menu */

header
{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    

}

#menu
{
    display: flex;
    gap: 1rem;
    border-top: white groove thick;
    border-bottom: white groove thick;
    box-shadow: 0 0 15px aliceblue;
}

#menu a
{
    color: cyan;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 10pt;
    font-weight: lighter;
    text-shadow: 0 0 15px cyan;
}

#menu li a:hover
{
    color: white;
    text-shadow: 0 0 15px white;
}

h1
{
    color: rgb(236, 89, 163);
    border-top: groove thick;
    border-bottom: groove thick;
    text-align: center;
    text-shadow: -1px -1px aliceblue, 2px 2.2px cyan;
    padding-top: 8px;
    font-family: 'Gumball', sans-serif;
    font-weight: lighter;
    box-shadow: 0 0 15px aliceblue;
    background-color: black;
}


.moon
{
 padding: 150px 90 90 230px;
 margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.containermoon
{
    border: groove medium;
    width: 222px;
    text-align: center;
    margin-block-start: 1rem;
    justify-content: right;
    justify-items: right;
    background-color: black;
}

/*texto*/
.intro
{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 13pt;
}

h4
{
    display: block;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 8px;
}

span
{
    color: red;
    text-shadow: 0 0 15px red;
}

/*Conteúdo*/
.container-text
{
   padding: 150px 120 120 230px;
   border: groove thick;
   background-color: black;
   width: 350px;
   text-align: center;
   margin-block-start: 1rem;
}

.intro h1
{
    font-size: 12pt;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgb(17, 111, 114);
    text-shadow: 0 0 10px black;
    margin-block-start: 0;
    margin-block-end: 3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-shadow: none;
}

/*Direita*/
.container-text2
{
    
    border: groove medium;
    width: 350px;
    text-align: center;
    margin-block-start: 1rem;
    justify-content: right;
    justify-items: right;
    background-color: black;
}

.dev h1
{
    font-size: 12pt;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgb(17, 111, 114);
    text-shadow: 0 0 10px black;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 300px 300 300 350px;
    box-shadow: none;
}

.dev p
{
    color: yellow;
    list-style-type: square;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-size: 10pt;
}

.botao
{
    border-top: groove medium;
    border-bottom: groove medium;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-color: gray;
}

.navbar ul li 
{
    gap: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em; 
}


/*Rodapé*/
footer#rodape
{
    border-top: white groove;
    border-bottom: white groove thick;
    box-shadow: 0 0 4px aliceblue;
    background-color: black;
}

footer#rodape p
{
    text-align: center;
    color: yellow;
    font-family: 'Roboto Mono', monospace;
    font-size: 11pt;
}



